body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main_container{
    display: flex;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

.main_context{
    width: 740px;
    padding: 24px;
}

.person, .projects, .education, .experience, .expectation{
    color: black;
    margin: 30px;
}

li{
    font-size: 14px;
    line-height: 24px;
}

.profession{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.sidebar{
    background-color: rgb(6, 18, 39);
    color: #fff;
    width: 370px;
}

.contact, .tech, .soft, .lang{
    margin: 50px 0px 0px 40px;
}

.n{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

