<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- body of page -->
    <div class="main_container">
        <!--main section-->
        <div class="main_context">
            <!-- About person -->
            <div class="person">
                <h2 class="profession">{{profession}}</h2>
                <h1 class="name">{{name_surname}}</h1>
                <h4>{{country}}, {{city}}</h4>
                <p>{{description}}</p>
            </div>
            <!-- Projects -->
            <div class="projects">
                <h3>Project</h3>
                <ol>
                    <li class="project_item"><a href={{projects}}>{{projects}}</a></li>
                </ol>
            </div>
            <!-- Education-->
            <div class="education">
                <h3>Education</h3>
                <h4>{{uni_school}}</h4>
            </div>
            <!-- Work experience -->
            <div class="experience">
                <h3>Work Experience</h3>
                <div>
                    <h4>{{past_job}}</h4>
                    <p>{{how_long}}</p>
                    <ul>
                        <li>{{job_description}}</li>
                    </ul>
                </div>
            </div>
            <!-- Expectation-->
            <div class="expectation">
                <h3>Expectation</h3>
                <p>expectation_description</p>
            </div>
        </div>
        <aside class="sidebar">
            <!--Contact-->
            <div class="contact">
                <h3>Contacts</h3>
                <div>
                    <span>Number:</span>
                    <a href="tel:{{number}}">{{number}}</a>
                </div>
                <div>
                    <span>Email:</span>
                    <a href="mailto:{{email}}">{{email}}</a>
                </div>
            </div>
            <!--Tech skills-->
            <div class="tech">
                <h3>Tech Skills</h3>
                <ul>
                    <li>{{tech_skill}}</li>
                </ul>
            </div>
            <!-- Soft Skills-->
            <div class="soft">
                <h3>Soft Skills</h3>
                <ul>
                    <li>{{soft_skill}}</li>
                </ul>
            </div>
            <!--Langauge-->
            <div class="lang">
                <h3>Languages</h3>
                <ul>
                    <li><p>{{language}} - <span>{{language_level}}</span></p></li>
                </ul>
            </div>
        </aside>
    </div>
</body>
</html>