<!doctype html>
<html lang="en" class="background-styles">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- body of page -->
    <div class="main_container">
        <!--main section-->
        <div class="main_context">
            <!-- About person -->
            <div class="person">
                <h2 class="profession">{{profession}}</h2>
                <h1 class="name">{{name_surname}}</h1>
                <h4>{{country}}, {{city}}</h4>
                <p class="description">{{description}}</p>
            </div>
            <!-- Projects -->
            <div class="projects">
                <h3 class="main_title">Project</h3>
                <ol class="projects_list">
                    {% for i in range(projects | length) %}
                    <li class="li"><a class="des" href={{projects}}>{{projects[i]}}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <!-- Education-->
            <div class="education">
                <h3 class="main_title">Education</h3>
                <h4>{{education}}</h4>
            </div>
            <!-- Work experience -->
            <div class="experience">
                <h3 class="main_title">Work Experience</h3>
                {% for i in range( past_work | length) %}
                <div>
                    <h4 class="pst_wrk">{{past_work[i]}}</h4>
                    <p>{{how_long[i]}}</p>
                    <ul class='pst_wrk_list'>
                        <li class="li"> <span>{{job_description[i]}}</span></li>
                    </ul>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <aside class="sidebar">
            <!--Contact-->
            <div class="contact">
                <h3 class="sidebar_title">Contacts</h3>
                <div>
                    <span>Number:</span>
                    <a class="contact_link" href="tel:{{phone_number}}">{{phone_number}}</a>
                </div>
                <div>
                    <span>Email:</span>
                    <a class="contact_link" href="mailto:{{email}}">{{email}}</a>
                </div>
            </div>
            <!--Tech skills-->
            <div class="tech">
                <h3 class="sidebar_title">Tech Skills</h3>
                <ul class="skills_list">
                    {% for i in range(tech_skills | length) %}
                    <li class="skills_item"> <span class="skills_item_text">{{tech_skills[i]}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Soft Skills-->
            <div class="soft">
                <h3 class="sidebar_title">Soft Skills</h3>
                <ul class="skills_list">
                    {% for i in range(soft_skills | length) %}
                    <li class="skills_item"> <span class="skills_item_text">{{soft_skills[i]}}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <!--Langauge-->
            <div class="lang">
                <h3 class="sidebar_title">Languages</h3>
                <ul class="skills_list">
                    {% for i in range(lang | length) %}
                    <li class="skills_item"><p> <span class="skills_item_text">{{lang[i]}} - <span>{{lang_level[i]}}</span></span></p></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
    </div>
</body>
</html>


